<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        
<!-- ------------------------------------------ POPUP EDITION UTILISATEUR -------------------------------------------------- -->
        
       <div th:fragment="user">
            <div id="popup-content" class="popup-content-edit-user">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3 th:text="#{texte.pop.edit.user.titre}"></h3>
                        </td>
                        <td class="popup-header-close">
                            <a href="/superAdmin" >
                                <img class="button-close" src="/images/popup/button-close.png">
                            </a>
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/user/{id}(id=*{id})}" th:object="${editUser}" th:method="post">
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="identifiant" th:text="#{texte.pop.edit.user.identifiant}"></label>
                            </td>
                            <td class="popup-form-input">
                                <span id="identifiant" th:text="*{identifiant}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="role" th:text="#{texte.pop.edit.user.role}"></label>
                            </td>
                            <td class="popup-form-input">
                                <select id="role" th:field="*{roleId}">
                                    <option th:each="role : ${roleList}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="actif" th:text="#{texte.pop.edit.user.actif}"></label>
                            </td>
                            <td class="popup-form-input">
                                <input id="actif" name="actif" type="checkbox" th:checked="*{actif}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input type="hidden" name="_method" value="put"/>
                                <input type="hidden" th:value="*{id}" th:field="*{id}" />
                                <input class="popup-form-submit-button" type="submit" th:value="#{texte.pop.edit.global.submit}"/>                            
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>        
        
    </body>
</html>
