<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        
<!-- ------------------------------------------ POPUP MODIFICATION COMPETITION -------------------------------------------------- -->
        
        <div th:fragment="typetube">
            <div id="popup-content" class="popup-content-edit-typetube">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3>Modifier le type de tube</h3>
                        </td>
                        <td class="popup-header-close">
                            <a href="/superAdmin" >
                                <img class="button-close" src="/images/popup/button-close.png">
                            </a>
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/typetube/{id}(id=*{id})}" th:object="${editTypeTube}" method="post">
                        
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="commande">Ce type de tube peut-il être sujet à des commandes membre ?</label>
                            </td>
                            <td class="popup-form-input">
                                <input id="commande" name="commande" type="checkbox" th:checked="*{commande}"/>
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input type="hidden" name="_method" value="put"/>
                                <input type="hidden" th:value="*{id}" th:field="*{id}" />
                                <input class="popup-form-submit-button" type="submit" value="Valider les modifications"/>                            
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>        
        
    </body>
</html>
