<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        
<!-- ------------------------------------------ POPUP NOUVEAU TYPE-TUBE -------------------------------------------------- -->
        
        <div th:fragment="consomois">
            <div id="popup-content" class="popup-content-consomois">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3>Nouveau conso mois</h3>
                        </td>
                        <td class="popup-header-close">
                            <img id="close-consomois" class="button-close" src="/images/popup/button-close.png">
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/newConsoMois}" th:object="${newConsoMois}" method="post">
                        
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="NomMois">Nom du mois :</label>
                            </td>
                            <td class="popup-form-input">
                                <select id="NomMois" th:field="*{nom}">
                                <option th:each="nm : ${nomMois}" th:value="${nm}" th:text="${nm}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="prixTube">Prix Tube :</label>
                            </td>
                            <td class="popup-form-input">
                                <select id="prixTube" th:field="*{idPrixTube}">
                                <option th:each="pt : ${prixTubeList}" th:value="${pt.id}" th:text="${pt.toString()}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="typeVolant">Type de Volant :</label>
                            </td>
                            <td class="popup-form-input">
                                <select id="typeVolant" th:field="*{idTypeVolant}">
                                <option th:each="tv : ${typeVolantList}" th:value="${tv.id}" th:text="${tv.idTypeTube.toString()}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="nbTubeUtilise">Nb tubes utilisés :</label>
                            </td>
                            <td class="popup-form-input">
                                <input id="nbTubeUtilise" type="number" th:value="*{nbTubeUtilise}" th:field="*{nbTubeUtilise}" min="0" />
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="nbTubeCommande">Nb tubes commandés :</label>
                            </td>
                            <td class="popup-form-input">
                                <input id="nbTubeCommande" type="number" th:value="*{nbTubeCommande}" th:field="*{nbTubeCommande}" min="0" />
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input class="popup-form-submit-button" type="submit" value="Créer le conso mois"/>                            
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>        
        
    </body>
</html>
