<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        
<!-- ------------------------------------------ POPUP MODIFICATION COMPETITION -------------------------------------------------- -->
        
        <div th:fragment="consomois">
            <div id="popup-content" class="popup-content-edit-consomois">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3>Modifier le Conso Mois</h3>
                        </td>
                        <td class="popup-header-close">
                            <a href="/superAdmin" >
                                <img class="button-close" src="/images/popup/button-close.png">
                            </a>
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/consomois/{id}(id=*{id})}" th:object="${editConsoMois}" method="post">
                        
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="nbTubeUtilise">Nb tubes utilisés :</label>
                            </td>
                            <td class="popup-form-input">
                                <input id="nbTubeUtilise" type="number" th:value="*{nbTubeUtilise}" th:field="*{nbTubeUtilise}" min="0" />
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="nbTubeCommande">Nb tubes commandés :</label>
                            </td>
                            <td class="popup-form-input">
                                <input id="nbTubeCommande" type="number" th:value="*{nbTubeCommande}" th:field="*{nbTubeCommande}" min="0" />
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input type="hidden" name="_method" value="put"/>
                                <input type="hidden" th:value="*{id}" th:field="*{id}" />
                                <input class="popup-form-submit-button" type="submit" value="Valider les modifications"/>                            
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>        
        
    </body>
</html>
