<!DOCTYPE html>
<html>
        
<!-- ------------------------------------------ POPUP MODIFICATION CONSO-MOIS -------------------------------------------------- -->
        

        <!--                                    CHANGEMENT DU PRIX DE TUBES                                                   -->
        <div th:fragment="consomois-prix">
            <div id="popup-content" class="popup-content-edit-consomois">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3 th:text="#{texte.pop.edit.moisPrix.titre}"></h3>
                        </td>
                        <td class="popup-header-close">
                            <a href="/index">
                                <img class="button-close" src="/images/popup/button-close.png">
                            </a>
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/mois/prix/{id}(id=*{id})}" th:object="${editConsoMois}" method="post">
                        
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="typeVolant" th:text="#{texte.pop.edit.moisPrix.typeVolant}"></label>
                            </td>
                            <td class="popup-form-input">
                                <span id="typeVolant" th:text="*{typeVolant}" ></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="prixTube" th:text="#{texte.pop.edit.moisPrix.prixTube}"></label>
                            </td>
                            <td class="popup-form-input">
                                <select id="prixTube" th:field="*{idPrixTube}">
                                <option th:each="pt : ${listPrixTubes}" th:value="${pt.id}" th:text="${pt.getPrixtubeDevise(devise)}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="suivant" th:text="#{texte.pop.edit.moisPrix.suivant}"></label>
                            </td>
                            <td class="popup-form-input">
                                <input id="suivant" name="suivant" type="checkbox" th:checked="*{suivant}"/>
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input type="hidden" name="_method" value="put"/>
                                <input type="hidden" th:value="*{id}" th:field="*{id}" />
                                <input type="hidden" th:value="*{nom}" th:field="*{nom}" />
                                <input class="popup-form-submit-button" type="submit" th:value="#{texte.pop.edit.global.submit}"/>                            
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>  


        <!--                                    SAISIE DU NOMBRE DE TUBES UTILISES                                          -->
        <div th:fragment="consomois-nbu">
            <div id="popup-content" class="popup-content-edit-consomois-nbu">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3 th:text="#{texte.pop.edit.moisNbu.titre}"></h3>
                        </td>
                        <td class="popup-header-close">
                            <a href="/index">
                                <img class="button-close" src="/images/popup/button-close.png">
                            </a>
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/mois/nbu/{id}(id=*{id})}" th:object="${editConsoMois}" method="post">
                        
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="nbTubeUtilise" th:text="#{texte.pop.edit.moisNbu.nbTubeUtilise}"></label>
                            </td>
                            <td class="popup-form-input">
                                <input id="nbTubeUtilise" type="number" th:value="*{nbTubeUtilise}" th:field="*{nbTubeUtilise}" min="0" />
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input type="hidden" name="_method" value="put"/>
                                <input type="hidden" th:value="*{id}" th:field="*{id}" />
                                <input type="hidden" th:value="*{nom}" th:field="*{nom}" />
                                <input class="popup-form-submit-button" type="submit" th:value="#{texte.pop.edit.global.submit}"/>                            
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>

        
        <!--                                    SAISIE DU NOMBRE DE TUBES COMMANDES                                          -->
        <div th:fragment="consomois-nbc">
            <div id="popup-content" class="popup-content-edit-consomois-nbc">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3 th:text="#{texte.pop.edit.moisNbc.titre}"></h3>
                        </td>
                        <td class="popup-header-close">
                            <a href="/index">
                                <img class="button-close" src="/images/popup/button-close.png">
                            </a>
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/mois/nbc/{id}(id=*{id})}" th:object="${editConsoMois}" method="post">
                    
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="nbTubeCommande" th:text="#{texte.pop.edit.moisNbc.nbTubeCommande}"></label>
                            </td>
                            <td class="popup-form-input">
                                <input id="nbTubeCommande" type="number" th:value="*{nbTubeCommande}" th:field="*{nbTubeCommande}" min="0" />
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input type="hidden" name="_method" value="put"/>
                                <input type="hidden" th:value="*{id}" th:field="*{id}" />
                                <input type="hidden" th:value="*{nom}" th:field="*{nom}" />
                                <input class="popup-form-submit-button" type="submit" th:value="#{texte.pop.edit.global.submit}"/>                            
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>


       
</html>
