<!DOCTYPE html>
<html>
        
<!-- ------------------------------------------ POPUP MODIFICATION TYPE-VOLANT -------------------------------------------------- -->
        
        <div th:fragment="typevolant">
            <div id="popup-content" class="popup-content-edit-typevolant">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3 th:text="#{texte.pop.edit.typevolant.titre}"></h3>
                        </td>
                        <td class="popup-header-close">
                            <a href="/admin" >
                                <img class="button-close" src="/images/popup/button-close.png">
                            </a>
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/typevolant/{id}(id=*{id})}" th:object="${editTypeVolant}" method="post">
                        
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="initTube" th:text="#{texte.pop.edit.typevolant.initTube}"></label>
                            </td>
                            <td class="popup-form-input">
                                <input id="initTube" 
                                       type="number" 
                                       th:value="*{initTube}" 
                                       th:field="*{initTube}" 
                                       th:pattern = "#{validation.pattern.integer0}"
                                       min="0" />
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input type="hidden" name="_method" value="put"/>
                                <input type="hidden" th:value="*{id}" th:field="*{id}" />
                                <input class="popup-form-submit-button" type="submit" th:value="#{texte.pop.edit.global.submit}"/>                             
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>        
        

</html>
