<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        
<!-- ------------------------------------------ POPUP EDITION MEMBRE -------------------------------------------------- -->
        
       <div th:fragment="membre">
            <div id="popup-content" class="popup-content-edit-membre">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3 th:text="#{texte.pop.edit.membre.titre}"></h3>
                        </td>
                        <td class="popup-header-close">
                            <a href="/admin/membre" >
                                <img class="button-close" src="/images/popup/button-close.png">
                            </a>
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/admin/membre/{id}(id=*{id})}" th:object="${editMembre}" th:method="post">
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="prenom" th:text="#{texte.pop.edit.membre.prenom}"></label>
                            </td>
                            <td class="popup-form-input">
                                <input id="prenom" type="text" th:value="*{prenom}" th:field="*{prenom}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="nom" th:text="#{texte.pop.edit.membre.nom}"></label>
                            </td>
                            <td class="popup-form-input">
                                <input id="nom" type="text" th:value="*{nom}" th:field="*{nom}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="actif" th:text="#{texte.pop.edit.membre.actif}"></label>
                            </td>
                            <td class="popup-form-input">
                                <input id="actif" name="actif" type="checkbox" th:checked="*{actif}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input type="hidden" name="_method" value="put"/>
                                <input type="hidden" th:value="*{id}" th:field="*{id}" />
                                <input class="popup-form-submit-button" type="submit" th:value="#{texte.pop.edit.global.submit}"/>                           
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>        
        
    </body>
</html>
