<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        
<!-- ------------------------------------------ POPUP NOUVEAU MEMBRE -------------------------------------------------- -->
        
        <div th:fragment="membre">
            <div id="popup-content" class="popup-content-membre">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3>Nouveau Membre</h3>
                        </td>
                        <td class="popup-header-close">
                            <img id="close-membre" class="button-close" src="/images/popup/button-close.png">
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/admin/newMembre}" th:object="${newMembre}" method="post">
                        
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="prenom">Prénom :</label>
                            </td>
                            <td class="popup-form-input">
                                <input id="prenom" type="text" th:value="*{prenom}" th:field="*{prenom}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="nom">Nom :</label>
                            </td>
                            <td class="popup-form-input">
                                <input id="nom" type="text" th:value="*{nom}" th:field="*{nom}" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input class="popup-form-submit-button" type="submit" value="Créer le membre"/>                            
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>        
        
    </body>
</html>
