<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        
<!-- ------------------------------------------ POPUP NOUVEAU PROFIL -------------------------------------------------- -->
        
        <div th:fragment="profil">
            <div id="popup-content" class="popup-content-profil">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3>Nouveau Profil</h3>
                        </td>
                        <td class="popup-header-close">
                            <img id="close-commande" class="button-close" src="/images/popup/button-close.png">
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/newProfil}" th:object="${newProfil}" method="post">
                        
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="membre">Membre lié au profil :</label>
                            </td>
                            <td class="popup-form-input">
                                <select id="membre" th:field="*{idMembre}">
                                <option th:each="m : ${listMembres}" th:value="${m.id}" th:text="${m.toString()}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="pseudo">Pseudo du profil :</label>
                            </td>
                            <td class="popup-form-input">
                                <input id="pseudo" type="text" th:value="*{pseudo}" th:field="*{pseudo}" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input class="popup-form-submit-button" type="submit" value="Créer le profil"/>                            
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>        
        
    </body>
</html>
