/*
style.css
---------
*/



/* Général ------------------------------------------------------------------------------------- */
body, p {
 font: normal 10pt verdana, helvetica, sans-serif;
 background-color: #101720;
 color: #8cbaff;
}

a { font-style: normal; color: #8cdeff; text-decoration: none;}
a:hover {color: #c0edff;}

fieldset {
 padding: 10px;
 border: 1px #0568CD solid;
 border-radius: 10px;
 margin: 10px;
}

.header {
    /*position: absolute;*/
    background: #e6e7e8;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    color: #356ade;
    font-family: 'Montserrat Alternates', sans-serif;
}

.main-content {
    padding: 10px;
    font: normal 10pt verdana, helvetica, sans-serif;
    background-color: #101720;
    color: #8cbaff;
}

.footer {
  color: #c0edff;
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0d0e16;
  font: normal 8pt 'Montserrat Alternates', sans-serif;
}

input.footer-log {
    border: none;
    outline: none;
    font-style: normal;
    color: #c0edff;
    text-decoration: none;
    background-color:transparent;
    padding: 5px;
    bottom: 0;
    right: 0;
    position: absolute;
    font: normal 8pt 'Montserrat Alternates', sans-serif;
}
input.footer-log:hover {
    text-decoration: underline;
}

.img-background {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Pour pop-up des formulaire ---------------------------------------------------------- */

#bg-popup {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
#bg-popup h3, p {
    color: #101720;
    background-color: #e6e7e8;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    margin:5px;
}

#bg-popup-action {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
#bg-popup-action h3, p {
    color: #101720;
    background-color: #e6e7e8;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    margin:5px;
}


.bg-popup-profil,
.bg-popup-commande,
.bg-popup-typetube,
.bg-popup-typevolant,
.bg-popup-consomois,
.bg-popup-prixtube,
.bg-popup-membre,
.bg-popup-user,
.bg-popup-saison,
.bg-popup-competition{
    display: none;
}
 

.popup-content-edit-user, 
.popup-content-edit-saison,
.popup-content-edit-data,
.popup-content-edit-mdp,
.popup-content-edit-membre,
.popup-content-edit-compet,
.popup-content-edit-typetube,
.popup-content-edit-typevolant,
.popup-content-edit-consomois,
.popup-content-edit-consomois-nbu,
.popup-content-edit-consomois-nbc,
.popup-content-edit-prixtube,
.popup-content-edit-commande,
.popup-content-edit-commande-suite,
.popup-content-stock,
.popup-content-typetube,
.popup-content-typevolant,
.popup-content-consomois,
.popup-content-prixtube,
.popup-content-membre,
.popup-content-user,
.popup-content-saison,
.popup-content-competition,
.popup-content-commande {
    background-color: #e6e7e8;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 100px 1px #e6e7e880;
}


.popup-content-profil {
    width: 650px;
    height: 265px;
}
.popup-content-commande {
    width: 650px;
    height: 250px;
}
.popup-content-edit-commande-suite {
    width: 650px;
    height: 250px;
}
.popup-content-edit-commande {
    width: 525px;
    height: 175px;
}
.popup-content-competition {
    width: 430px;
    height: 220px;
}
.popup-content-edit-compet {
    width: 430px;
    height: 220px;
}
.popup-content-typevolant {
    width: 430px;
    height: 215px;
}
.popup-content-edit-typevolant {
    width: 430px;
    height: 215px;
}
.popup-content-consomois {
    width: 420px;
    height: 335px;
}
.popup-content-edit-consomois {
    width: 520px;
    height: 230px;
}
.popup-content-edit-consomois-nbu {
    width: 420px;
    height: 180px;
}
.popup-content-edit-consomois-nbc {
    width: 420px;
    height: 180px;
}
.popup-content-typetube {
    width: 500px;
    height: 225px;
}
.popup-content-edit-typetube {
    width: 500px;
    height: 225px;
}
.popup-content-prixtube {
    width: 500px;
    height: 295px;
}
.popup-content-edit-prixtube {
    width: 500px;
    height: 295px;
}
.popup-content-edit-user {
    width: 380px;
    height: 250px;
}
.popup-content-user {
    width: 500px;
    height: 260px;
}
.popup-content-edit-mdp {
    width: 500px;
    height: 295px;
}
.popup-content-membre {
    width: 380px;
    height: 215px;
}
.popup-content-edit-membre {
    width: 380px;
    height: 255px;
}
.popup-content-edit-data {
    width: 450px;
    height: 210px;
}
.popup-content-saison {
    width: 500px;
    height: 255px;
}
.popup-content-edit-saison {
    width: 500px;
    height: 180px;
}
.popup-content-stock {
    width: 400px;
    height: 290px;
}

/* animation d'ouverture / fermeture :      */
#popup-content.open {
  animation: open 0.5s forwards;
}

#popup-content.close {
  animation: close 0.5s forwards;
}

@keyframes open {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes close {
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
}


/* En-tÃªte de la popup :  */
.button-close {
    float: right;
    display: block;
    width: 30px;
    border: 2px #e6e7e8 solid;
    border-radius: 4px;
    margin: 5px;
}
.button-close:hover {
    transform: rotate(15deg);
}



/* 
 -> Tableaux - popup 
*/

/* HEADER */ 

table.popup-header {
  border-collapse: collapse;
  /*border: 1px black solid;*/
  width: 100%; 
}

td.popup-header-titre, td.popup-header-close {
  text-align: center;
  /*border: 1px black solid;*/
}

td.popup-header-close {
  width: 9%;
}

td.popup-header-titre {
  padding-left: 45px;
}

tr.popup-header {
  background-color: transparent
}


/* FORM */
table.popup-form {
  border-collapse: collapse;
  /*border: 1px black solid;*/
  border-radius: 12px;
  width: 95%; 
  text-align: left;
  color: #101720;
  background-color: #bbd5ea;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

td.popup-form-label, td.popup-form-input {
  padding: 8px;
  padding-top: 12px;
  text-align: left;
}

td.popup-form-label {
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  width:55%;
}

td.popup-form-submit {
  text-align:center;
  padding-top: 20px;
  padding-bottom: 13px;
}

.popup-form-submit-button {
  padding: 8px 10px;
  min-width: 200px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #1b4cb8,#18a5ff);
  color: #fff;
}

.popup-form-submit-button:hover {
  transform: translateY(-2px);
}

select#membre {
  height: 22px;
  width: 85%;
  border: none;
  border-radius: 1px;
  box-shadow: 0 0 10px 1px #356adeb0;
}
input#nbTubeCommande {
  height: 20px;
  width: 45px;
  border: none;
  border-radius: 1px;
  box-shadow: 0 0 20px 1px #356adeb0;
}
input#regler {
  margin-left: 0;
  border: none;
  border-radius: 1px;
  box-shadow: 0 0 20px 1px #356ade;
}

select#membre:hover {
  box-shadow: 0 0 20px 1px #1b4cb8;
}
input#nbTubeCommande:hover{
  box-shadow: 0 0 20px 1px #1b4cb8;
}
input#regler:hover {
  box-shadow: 0 0 20px 4px #1b4cb8;
}




/* menu de navigation -------------------------------------------------------------------------- */

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #356ade;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Navigation : lien des menus principaux */
#topnav-link {
    background-color: #1b4cb8;
    color: #f2f2f2;
    margin-left: 2px;
}
#topnav-link:hover {
  background-color: #bbd0ff;
  color: #000;
}

#topnav-link.superAdmin {
  background-color:#c6ab13;
  color: #f2f2f2;
}
#topnav-link.superAdmin:hover {
  background-color:#fff9bb;
  color: #000;
}


/* Navigation : Sous-menu */
#topnav-menu,
#topnav-menu-profil,
#topnav-menu-commande,
#topnav-menu-saison,
#topnav-menu-membre,
#topnav-menu-user,
#topnav-menu-compet,
#topnav-menu-stock,
#topnav-menu-typevolant,
#topnav-menu-consomois,
#topnav-menu-typetube,
#topnav-menu-prixtube,
#topnav-menu-data{
    float: left;
    background-color: #8cbaff;
    color: #101720;
    margin-right: 2px;
}

#topnav-menu:hover,
#topnav-menu-profil:hover,
#topnav-menu-commande:hover,
#topnav-menu-membre:hover,
#topnav-menu-saison:hover,
#topnav-menu-user:hover,
#topnav-menu-compet:hover,
#topnav-menu-stock:hover,
#topnav-menu-typetube:hover,
#topnav-menu-typevolant:hover,
#topnav-menu-consomois:hover,
#topnav-menu-prixtube:hover,
#topnav-menu-data:hover{
   background-color: #bdbdbd;
}


/* Navigation : Admin */
#topnav-admin {
    float: right;
    background-color: #900;
    color: #f2f2f2;
    margin-left: 4px;
}
#topnav-admin:hover{
    background-color: #bdbdbd;
    color: #900;
}



/* -------  Tableaux -------------------------------------------------------------------------- */

.table-su-1 table {
    text-align: center;
    margin: auto;
}

.std-table table {
  border-collapse: collapse;
  color: black;
  margin: auto;
}

table.table-saison {
    margin-left: 250px;
}
td.table-saison {
  padding: 0px;
}
td.table-saison-resume {
  padding: 0px;
  vertical-align : bottom;
}

.std-table th, td {
  text-align: center;
  padding: 8px;
}

.std-table td {
  border: 1px solid #ddd;
}

.std-table tr {
  background-color: #f2f2f2;
}

.std-table th {
  background-color: #0080ff;
  color: white;
}



th.table-label {
    background-color: #007015;
    color: white;
    text-align: center;
}

th.table-th-index {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    background-color: #101720;
    border-style: none solid none solid;
    border-right-color: #101720;
    border-left-color: #101720;
}
th.table-th-utilise {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    background-color: #d5d5d5;
    border-style: none solid none solid;
    border-right-color: #afafaf;
    border-left-color: #101720;
    color: black;
    padding-top: 6px; 
    padding-bottom: 6px;
}
th.table-th-commande {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    background-color: #d5d5d5;
    border-style: none none none solid;
    border-left-color: #d5d5d5;
    color: black;
    padding-top: 6px; 
    padding-bottom: 6px;
}
th.table-th-prix {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    background-color: #d5d5d5;
    border-style: none solid solid solid;
    border-width: 0 medium 1px medium;
    border-right-color: #101720;
    border-left-color: #afafaf;
    border-bottom-color: white;
    color: black;
    padding-top: 6px; 
    padding-bottom: 6px;
}

th.table-label-index {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    background-color: #007015;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-style: none solid none solid;
    border-color: #007015;
    border-right-color: #101720;
    padding-top: 4px; 
    padding-bottom: 4px;

}

th.table-action {
    background-color: #900;
    color: white;
}

th.table-tv{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    border-style: none solid none solid;
    border-top-color: #0080ff;
    border-right-color: #101720;
    border-bottom-color: #0080ff;
    border-left-color: #0080ff;
    padding-top: 4px; 
    padding-bottom: 4px;
}

th.table-tv-label {
    background-color: white;
    color: #0080ff;
    border-style: solid;
    border-color: #d5d5d5;
}

th.table-tv-empty{
    background-color: #101720;
    border-style: none solid none solid;
    border-top-color: #101720;
    border-right-color: #101720;
    border-bottom-color: #101720;
    border-left-color: #101720;
}
td.table-tv-empty{
    background-color: #101720;
    border-style: solid;
    border-color: #101720;
    border-width: medium;
}


th.table-tv-empty1 {
    background-color: #d5d5d5;
    border-style: solid;
    border-color: #d5d5d5;
}
tr.table-tv-empty {
    background-color: #101720;
    height: 2px;
}


th.table-tv-mois,
td.table-tv-mois{
    border-style: none solid solid solid;
    border-width: 0 medium 1px medium;
    border-right-color: #101720;
    border-left-color: #101720;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px; 
    padding-bottom: 6px;
    width:110px;
}

th.table-tv-nbu,
td.table-tv-nbu {
    border-style: none solid solid none;
    border-width: 1px;
    border-right-color: #afafaf;
    width: 30px;
    padding-top: 6px; 
    padding-bottom: 6px;
}
th.table-tv-cu,
td.table-tv-cu {
    border-style: none solid solid none;
    border-width: 0 medium 1px 1px;
    border-right-color: #afafaf;
    width: 60px;
    padding-top: 6px; 
    padding-bottom: 6px;
}
th.table-tv-nbc,
td.table-tv-nbc {
    border-style: none solid solid none;
    border-width: 1px;
    border-right-color: #afafaf;
    width: 30px;
    padding-top: 6px; 
    padding-bottom: 6px;
}
th.table-tv-cc,
td.table-tv-cc {
    border-style: none solid solid none;
    border-width: 0 medium 1px 1px;
    border-right-color: #afafaf;
    width: 60px;
    padding-top: 6px; 
    padding-bottom: 6px;
}

td.table-tv-prix {
    border-style: none solid solid solid;
    border-width: 0 medium 1px medium;
    border-right-color: #101720;
    border-left-color: #afafaf;
    border-bottom-color: #ddd;
    color: black;
    padding-top: 6px; 
    padding-bottom: 6px;
}


td.table-tv-total{
    border-style: solid solid solid solid;
    border-width: medium medium 1px medium;
    border-top-color: #101720;
    border-right-color: #101720;
    border-left-color: #101720;
    border-bottom-color: #0080ff;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px; 
    padding-bottom: 6px;
    width:110px;
    font-weight: bold;
    background-color: #0080ff;
    color: white;
}

td.table-tv-total-nbu {
    border-style: solid solid solid solid;
    border-width: medium 1px 1px medium;
    border-top-color: #afafaf;
    border-right-color: #afafaf;
    border-left-color: #101720;
    width: 30px;
    padding-top: 6px; 
    padding-bottom: 6px;
    font-weight: bold;
}
td.table-tv-total-cu {
    border-style: solid solid solid solid;
    border-width: medium medium 1px 1px;
    border-top-color: #afafaf;
    border-right-color: #afafaf;
    width: 60px;
    padding-top: 6px; 
    padding-bottom: 6px;
    font-weight: bold;
}
td.table-tv-total-nbc {
    border-style: solid solid solid none;
    border-width: medium 1px 1px 0;
    border-top-color: #afafaf;
    border-right-color: #afafaf;
    width: 30px;
    padding-top: 6px; 
    padding-bottom: 6px;
    font-weight: bold;
}
td.table-tv-total-cc {
    border-style: solid solid solid solid;
    border-width: medium medium 1px 1px;
    border-top-color: #afafaf;
    border-right-color: #afafaf;
    width: 60px;
    padding-top: 6px; 
    padding-bottom: 6px;
    font-weight: bold;
}

td.table-tv-total-prix {
    border-style: solid solid solid solid;
    border-width: medium medium 1px medium;
    border-top-color: #afafaf;
    border-left-color: #afafaf;
    border-right-color: #101720;
    background-color: #d5d5d5;
    color: black;
    padding-top: 6px; 
    padding-bottom: 6px;
}

td.table-label-stock {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #d5d5d5;
    color: black;
    border-style: solid solid none solid;
    border-width: medium 1px 0 medium;
    border-top-color: #afafaf;
    border-right-color: #afafaf;
    border-left-color: #101720;
    
}
td.table-tv-stock {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border-style: solid solid none none;
    border-width: medium medium 0 0;
    border-top-color: #afafaf;
    border-right-color: #101720;
}
td.table-tv-stock-bas {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-style: solid solid none none;
    border-width: medium medium 0 0;
    border-top-color: #afafaf;
    border-right-color: #101720;
    background-color: #900;
}

td.table-label-resume {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #d5d5d5;
    color: black;    
}



input.table-tv-nbu,
input.table-tv-nbc,
input.table-tv-prix {
  font: normal 10pt verdana, helvetica, sans-serif;
  border: none; 
  padding: 0;
  outline: none;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

input#action-input{
   border: none; 
}

input#action-input {
  border: none;
  outline: none;
  font-style: normal;
  color: #900;
  text-decoration: none;
}
input#action-input:hover {
  border: none;
  outline: none;
  font-style: normal;
  color: #900;
  text-decoration: none;
  text-decoration: underline;
  cursor: pointer;
}

td.table-action td.action-input {
  padding:0;
  border: none;
  margin: 0;
}

td.table-action a {
  font-style: normal;
  color: #900; 
  text-decoration: none;
}
td.table-action a:hover {
  font-style: normal; 
  color: #900; 
  text-decoration: none;
  text-decoration: underline;
}


.table-reponse table {
  border-collapse: collapse;
  color: black;
  margin: auto;
}


