/*
style-table-saison.css
---------
*/


/* -------  Tableaux -------------------------------------------------------------------------- */


/* TABLE */

table.table-saison{
  margin-left: 200px;
}


/* TH */


th.table-label {
  background-color: #007015;
  border-style: solid solid none solid;
  border-width: 1px 1px 0 1px;
  border-color: #005f12;
  color: white;
  text-align: center;
}

th.table-th-index {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  background-color: #101720;
  border-style: none solid none solid;
  border-right-color: #101720;
  border-left-color: #101720;
}
th.table-th-utilise {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  background-color: #d5d5d5;
  border-style: none solid none solid;
  border-right-color: #afafaf;
  border-left-color: #101720;
  color: black;
  padding-top: 6px; 
  padding-bottom: 6px;
}
th.table-th-commande {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  background-color: #d5d5d5;
  border-style: none none none solid;
  border-left-color: #d5d5d5;
  color: black;
  padding-top: 6px; 
  padding-bottom: 6px;
}
th.table-th-prix {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  background-color: #d5d5d5;
  border-style: none solid solid solid;
  border-width: 0 medium 1px medium;
  border-right-color: #101720;
  border-left-color: #afafaf;
  border-bottom-color: white;
  color: black;
  padding-top: 6px; 
  padding-bottom: 6px;
}

th.table-label-index {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  background-color: #007015;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: none solid none solid;
  border-color: #007015;
  border-right-color: #101720;
  padding-top: 4px; 
  padding-bottom: 4px;

}

th.table-tv{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 15px;
  border-style: none solid none none;
  border-width: 0 medium 0 0;
  border-top-color: #0080ff;
  border-right-color: #101720;
  border-bottom-color: #0080ff;
  border-left-color: #0080ff;
  padding-top: 4px; 
  padding-bottom: 4px;
}

th.table-tv-label {
  background-color: white;
  color: #0080ff;
  border-style: solid;
  border-color: #d5d5d5;
}

th.table-tv-empty{
  background-color: #101720;
  border-style: none solid none solid;
  border-top-color: #101720;
  border-right-color: #101720;
  border-bottom-color: #101720;
  border-left-color: #101720;
}


/* TD (TH) */

td.table-saison{
padding: 0px;
vertical-align : top;
}

td.table-saison-resume {
padding: 0px;
vertical-align : bottom;
}

td.table-tv-empty{
  background-color: #101720;
  border-style: solid;
  border-color: #101720;
  border-width: medium;
}

th.table-tv-empty1 {
  background-color: #d5d5d5;
  border-style: solid;
  border-color: #d5d5d5;
}
tr.table-tv-empty {
  background-color: #101720;
  height: 2px;
}


th.table-tv-mois,
td.table-tv-mois{
  border-style: none solid solid solid;
  border-width: 0 medium 1px medium;
  border-right-color: #101720;
  border-left-color: #101720;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 6px; 
  padding-bottom: 6px;
  width:110px;
}

th.table-tv-nbu,
td.table-tv-nbu {
  border-style: none solid solid none;
  border-width: 1px;
  border-right-color: #afafaf;
  width: 30px;
  padding:0px;
}
th.table-tv-cu,
td.table-tv-cu {
  border-style: none solid solid none;
  border-width: 0 medium 1px 1px;
  border-right-color: #afafaf;
  width: 60px;
  padding:0px;
}
th.table-tv-nbc,
td.table-tv-nbc {
  border-style: none solid solid none;
  border-width: 1px;
  border-right-color: #afafaf;
  width: 30px;
  padding:0px;
}
th.table-tv-cc,
td.table-tv-cc {
  border-style: none solid solid none;
  border-width: 0 medium 1px 1px;
  border-right-color: #afafaf;
  width: 60px;
  padding:0px;
}

td.table-tv-nbu,
td.table-tv-nbc {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

td.table-tv-prix {
  border-style: none solid solid solid;
  border-width: 0 medium 1px medium;
  border-right-color: #101720;
  border-left-color: #afafaf;
  border-bottom-color: #ddd;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
}


td.table-tv-total{
  border-style: solid solid solid solid;
  border-width: medium medium 1px medium;
  border-top-color: #101720;
  border-right-color: #101720;
  border-left-color: #101720;
  border-bottom-color: #0080ff;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 6px; 
  padding-bottom: 6px;
  width:110px;
  font-weight: bold;
  background-color: #0080ff;
  color: white;
}

td.table-tv-total-nbu {
  border-style: solid solid solid solid;
  border-width: medium 1px 1px medium;
  border-top-color: #afafaf;
  border-right-color: #afafaf;
  border-left-color: #101720;
  width: 30px;
  padding-top: 6px; 
  padding-bottom: 6px;
  font-weight: bold;
}
td.table-tv-total-cu {
  border-style: solid solid solid solid;
  border-width: medium medium 1px 1px;
  border-top-color: #afafaf;
  border-right-color: #afafaf;
  width: 60px;
  padding-top: 6px; 
  padding-bottom: 6px;
  font-weight: bold;
}
td.table-tv-total-nbc {
  border-style: solid solid solid none;
  border-width: medium 1px 1px 0;
  border-top-color: #afafaf;
  border-right-color: #afafaf;
  width: 30px;
  padding-top: 6px; 
  padding-bottom: 6px;
  font-weight: bold;
}
td.table-tv-total-cc {
  border-style: solid solid solid solid;
  border-width: medium medium 1px 1px;
  border-top-color: #afafaf;
  border-right-color: #afafaf;
  width: 60px;
  padding-top: 6px; 
  padding-bottom: 6px;
  font-weight: bold;
}

td.table-tv-total-prix {
  border-style: solid solid solid solid;
  border-width: medium medium 1px medium;
  border-top-color: #afafaf;
  border-left-color: #afafaf;
  border-right-color: #101720;
  background-color: #d5d5d5;
  color: black;
  padding-top: 6px; 
  padding-bottom: 6px;
}

td.table-label-stock {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #d5d5d5;
  color: black;
  border-style: solid solid none solid;
  border-width: medium 1px 0 medium;
  border-top-color: #afafaf;
  border-right-color: #afafaf;
  border-left-color: #101720;
  padding:0px;
  
}
td.table-tv-stock {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  border-style: solid solid none none;
  border-width: medium medium 0 0;
  border-top-color: #afafaf;
  border-right-color: #101720;
  
}
td.table-tv-stock-bas {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-style: solid solid none none;
  border-width: medium medium 0 0;
  border-top-color: #afafaf;
  border-right-color: #101720;
  background-color: #900;
}


td.table-label-resume {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  font-weight: bold;
  background-color: #d5d5d5;
  color: black;
  text-align:right;
}



/* INPUT */

input.table-tv-nbu,
input.table-tv-nbc,
input.table-tv-prix {
  font: normal 10pt verdana, helvetica, sans-serif;
  border: none; 
  outline: none;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

