/*
style-admin.css
---------
*/

legend {
  color:#0568CD;
}

.admin-saison {
    background-color: #e6e7e8;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #101720; 
}

div.admin-table-option {
    background-color: #e6e7e8;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #101720; 
    width:555px;
    margin: auto;
}

table.admin-table-option {
    width: 100%;
    font-size: 14px;
}
.admin-table-option td{
    text-align:left;
    padding: 0px;
}

.admin-form-submit {
  padding: 8px 10px;
  width: 100px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #1b4cb8,#18a5ff);
  color: #fff;
}

.admin-form-submit:hover {
  transform: translateY(-2px);
}

table.admin-form {
  width: 100%;
}
td.admin-form-label {
  width: 55%;
}
.admin-form-input td{
  text-align: left;
  width:auto;
}
.admin-form-input input{
  width: 75px;
  font-size: 14px;
  border: none;
  border-radius: 1px;
  box-shadow: 0 0 20px 1px #356adeb0;
}

#admin-form-input-budget:hover,
#admin-form-input-seuil:hover,
#admin-form-input-stock-Plastique:hover,
#admin-form-input-stock-Entrainement:hover,
#admin-form-input-stock-Compétition:hover {
    box-shadow: 0 0 20px 1px #1b4cb8;
}