<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
    </head>
    

    <body>
        <div th:replace="fragments/layout-header :: header">...</div>
      
        <div class="main-content">
            <br/>
            <div th:utext="${message}"/>
        </div>
      
        <div th:replace="fragments/layout-footer :: footer">...</div>
    </body>
    
</html>