<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-popup-actions.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
    </head>


    <body>
     
        <div th:replace="fragments/layout-header :: header">...</div>
        
        <!-- pop-up section -->
        <div th:if="${editMembre != null}" id="bg-popup" class="bg-popup-edit-membre">
            <div th:replace="fragments/membre/layout-popup-edit :: membre"/>
        </div>
        <div th:if="${editData != null}" id="bg-popup" class="bg-popup-edit-data">
            <div th:replace="fragments/data/layout-popup-edit :: data"/>
        </div>
        <div th:if="${editSaison != null}" id="bg-popup" class="bg-popup-edit-saison">
            <div th:replace="fragments/saison/layout-popup-edit :: saison"/>
        </div>
        <div th:if="${editUser != null}" id="bg-popup" class="bg-popup-edit-user">
            <div th:replace="fragments/user/layout-popup-edit :: user"/>
        </div>
        <div th:if="${editUser != null}" id="bg-popup" class="bg-popup-edit-mdp">
            <div th:replace="fragments/user/layout-popup-edit-mdp :: mdp"/>
        </div>
        <div th:if="${editStock != null}" id="bg-popup" class="bg-popup-edit-stock">
            <div th:replace="fragments/stock/layout-popup-edit :: stock"/>
        </div>
        <div th:if="${editCompet != null}" id="bg-popup" class="bg-popup-edit-compet">
            <div th:replace="fragments/competition/layout-popup-edit :: compet"/>
        </div>
        <div th:if="${editTypeTube != null}" id="bg-popup" class="bg-popup-edit-typetube">
            <div th:replace="fragments/TypeTube/layout-popup-edit :: typetube"/>
        </div>
        <div th:if="${editTypeVolant != null}" id="bg-popup" class="bg-popup-edit-typevolant">
            <div th:replace="fragments/TypeVolant/layout-popup-edit :: typevolant"/>
        </div>
        <div th:if="${editPrixTube != null}" id="bg-popup" class="bg-popup-edit-prixtube">
            <div th:replace="fragments/PrixTube/layout-popup-edit :: prixtube"/>
        </div>
        <div th:if="${editCommande != null}" id="bg-popup" class="bg-popup-edit-commande">
            <div th:replace="fragments/commande/layout-popup-edit :: commande"/>
        </div>
        <div th:if="${editConsoMois != null}" id="bg-popup" class="bg-popup-edit-consomois">
            <div th:replace="fragments/ConsoMois/layout-popup-edit :: consomois-prix"/>
        </div>
        <div th:if="${editConsoMois != null}" id="bg-popup" class="bg-popup-edit-consomois-nbu">
            <div th:replace="fragments/ConsoMois/layout-popup-edit :: consomois-nbu"/>
        </div>
        <div th:if="${editConsoMois != null}" id="bg-popup" class="bg-popup-edit-consomois-nbc">
            <div th:replace="fragments/ConsoMois/layout-popup-edit :: consomois-nbc"/>
        </div>
        <div th:if="${newCommande != null}" id="bg-popup" class="bg-popup-edit-commande-suite">
            <div th:replace="fragments/commande/layout-popup-new :: commande-suite"/>
        </div>
      
        <div th:replace="fragments/layout-footer :: footer"/>
        
        
        <script th:inline="javascript">
            /*<![CDATA[*/
                var numAction = [[${numAction}]];
                
                const popupEdit = document.querySelector(".popup-content-edit-" + numAction.toString());
                const bgEdit = document.querySelector('.bg-popup-edit-' + numAction.toString());
                bgEdit.style.display = 'flex';
                popupEdit.className = "popup-content-edit-" + numAction.toString() + " open";
                    
            /*]]>*/
        </script>
        
        
        
    </body>
    
</html>
