<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
    </head>


    <body>
     
        <div th:replace="fragments/layout-header :: header">...</div>
        
        <!-- pop-up section -->
        <div th:if="${editMembre != null}" id="bg-popup-action" class="bg-popup-edit-membre">
            <div th:replace="fragments/layout-popup :: edit-membre"/>
        </div>
        <div th:if="${editData != null}" id="bg-popup-action" class="bg-popup-edit-data">
            <div th:replace="fragments/layout-popup :: edit-data"/>
        </div>
            <div th:if="${editSaison != null}" id="bg-popup-action" class="bg-popup-edit-saison">
            <div th:replace="fragments/layout-popup :: edit-saison"/>
        </div>
      
        <div th:replace="fragments/layout-footer :: footer"/>
        
        
        <script th:inline="javascript">
            /*<![CDATA[*/
                var numAction = [[${numAction}]];
                
                switch(numAction) {
                    case 1:
                        const popupEditMembre = document.querySelector(".popup-content-edit-membre");
                        const bgEditMembre = document.querySelector('.bg-popup-edit-membre');
                        bgEditMembre.style.display = 'flex';
                        popupEditMembre.className = "popup-content-edit-membre open";
                        break;
                    case 2:
                        const popupEditData = document.querySelector(".popup-content-edit-data");
                        const bgEditData = document.querySelector('.bg-popup-edit-data');
                        bgEditData.style.display = 'flex';
                        popupEditData.className = "popup-content-edit-data open";
                        break;
                    case 3:
                        const popupEditSaison = document.querySelector(".popup-content-edit-saison");
                        const bgEditSaison = document.querySelector('.bg-popup-edit-saison');
                        bgEditSaison.style.display = 'flex';
                        popupEditSaison.className = "popup-content-edit-saison open";
                        break;
                    default:
                }
            /*]]>*/
        </script>
        
        
        
    </body>
    
</html>
