<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
        <!-- https://www.youtube.com/watch?v=gLWIYk0Sd38 -->
    </head>
    

    <body>
        <!-- header section -->
        <div th:replace="fragments/layout-header :: header"></div>
      
        <!-- content section -->
        <div class="main-content">
            <div th:if="${!reponses.empty}">
                <br/>
                <table class="table-reponse">
                    <tbody>
                        <tr th:each="rep : ${reponses}">
                            <td th:class="${'td-rep-'+rep.key}"><span th:text="${rep.value}">rep</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            
            
            <div>
                <span 
                    class="admin-saison"
                    th:if="${!saison.toString.isEmpty}"
                    th:text="${'Saison en cours : ' + saison.toString}"></span>
            </div>
            <br/>
            
            <fieldset th:if="${editTVPlastique != null}">
                
            <legend th:text="#{texte.page.admin.stock.legend}"></legend>
            <br/>               
                
                <form
                    class="admin-form-stock"
                    th:action="@{/admin/stock/{id}(id=${editTVPlastique.id})}"
                    th:object="${editTVPlastique}" 
                    method="post">

                        <label 
                            th:for="${'admin-form-input-stock-' + editTVPlastique.nom}"
                            th:text="#{texte.page.admin.stock.label} + *{nom}" />
                        <input 
                            th:id="${'admin-form-input-stock-' + editTVPlastique.nom}" 
                            type="number"
                            min="0"
                            th:value="*{stock}"
                            th:field="*{stock}" />

                        <input 
                            class="admin-form-input-stock-submit" 
                            type="submit" 
                            th:value="#{texte.page.admin.stock.submit}"/> 

                </form>
                <br/>
                <form
                    class="admin-form-stock"
                    th:action="@{/admin/stock/{id}(id=${editTVCompetition.id})}"
                    th:object="${editTVCompetition}" 
                    method="post">

                        <label 
                            th:for="${'admin-form-input-stock-' + editTVCompetition.nom}"
                            th:text="#{texte.page.admin.stock.label} + *{nom}" />
                        <input 
                            th:id="${'admin-form-input-stock-' + editTVCompetition.nom}" 
                            type="number"
                            min="0"
                            th:value="*{stock}"
                            th:field="*{stock}" />

                        <input 
                            class="admin-form-input-stock-submit" 
                            type="submit" 
                            th:value="#{texte.page.admin.stock.submit}"/> 

                </form>
                <br/>
                <form
                    class="admin-form-stock"
                    th:action="@{/admin/stock/{id}(id=${editTVEntrainement.id})}"
                    th:object="${editTVEntrainement}" 
                    method="post">

                        <label 
                            th:for="${'admin-form-input-stock-' + editTVEntrainement.nom}"
                            th:text="#{texte.page.admin.stock.label} + *{nom}" />
                        <input 
                            th:id="${'admin-form-input-stock-' + editTVEntrainement.nom}" 
                            type="number"
                            min="0"
                            th:value="*{stock}"
                            th:field="*{stock}" />

                        <input 
                            class="admin-form-input-stock-submit" 
                            type="submit" 
                            th:value="#{texte.page.admin.stock.submit}"/> 

                </form>
                <br/>
            
            </fieldset>
            <fieldset>
                
            <legend th:text="#{texte.page.admin.budget.legend}"></legend>
            <br/>
                <form
                    class="admin-form-budget"
                    th:action="@{/admin/budget}"
                    th:object="${editData}"
                    method="post">

                        <label 
                            for="admin-form-input-budget"
                            th:text="#{texte.page.admin.budget.label}" />
                        <input 
                            id="admin-form-input-budget"
                            type="number"
                            min="0"
                            th:value="*{budget}"
                            th:field="*{budget}" />

                        <input 
                            class="admin-form-input-budget-submit" 
                            type="submit" 
                            th:value="#{texte.page.admin.budget.submit}"/> 

                </form>
                <br/>
                
                  
            </fieldset>
            <fieldset>
                
            <legend th:text="#{texte.page.admin.seuil.legend}"></legend>
            <br/>
                <form
                    class="admin-form-budget"
                    th:action="@{/admin/seuil}"
                    th:object="${editData}" 
                    method="post">

                        <label 
                            for="admin-form-input-seuil"
                            th:text="#{texte.page.admin.seuil.label}" />
                        <input 
                            id="admin-form-input-budget"
                            type="number"
                            min="0"
                            th:value="*{seuilBas}"
                            th:field="*{seuilBas}" />

                        <input 
                            class="admin-form-input-seuil-submit" 
                            type="submit" 
                            th:value="#{texte.page.admin.seuil.submit}"/> 

                </form>
                <br/>
                
                  
            </fieldset>
            
        </div>
      
        <!-- pop-up section -->

       
        <!-- footer section -->
        <div th:replace="fragments/layout-footer :: footer"></div>
                
    </body>
    
</html>
