<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
    </head>
    

    <body>
        <div th:replace="fragments/layout-header :: header"/>
      
        <div class="main-content">
            <div th:if="${!reponses.empty}">
                <br/>
                <table class="table-reponse">
                    <tbody>
                        <tr th:each="rep : ${reponses}">
                            <td th:class="${'td-rep-'+rep.key}"><span th:text="${rep.value}">rep</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            
            
            <div class="std-table">
                
                <table class="std-table-index">
                    
                    <thead>
                        <tr>
                            <th class="table-tv-empty"></th>
                            <th class="table-label-index" colspan="15">
                                <span th:text="${'SAISON : ' + saison.toString}">
                            </th>
                        </tr>
                        <tr class="table-tv-empty"></tr>
                        <tr>
                            <th class="table-tv-empty"></th>
                            <th class="table-tv" colspan="5">
                                <span th:text="${'Volants ' + saison.getTypeVolantName(plastique).toString}">
                            </th>
                            <th class="table-tv" colspan="5">
                                <span th:text="${'Volants ' + saison.getTypeVolantName(competition).toString}">
                            </th>
                            <th class="table-tv" colspan="5">
                                <span th:text="${'Volants ' + saison.getTypeVolantName(entrainement).toString}">
                            </th>
                        </tr>
                        <tr>
                            <th class="table-th-index"></th>
                            <th class="table-th-utilise" colspan="2">Utilisés</th>
                            <th class="table-th-commande" colspan="2">Commandés</th>
                            <th class="table-th-prix" rowspan="2">Prix</th>
                            <th class="table-th-utilise" colspan="2">Utilisés</th>
                            <th class="table-th-commande" colspan="2">Commandés</th>
                            <th class="table-th-prix" rowspan="2">Prix</th>
                            <th class="table-th-utilise" colspan="2">Utilisés</th>
                            <th class="table-th-commande" colspan="2">Commandés</th>
                            <th class="table-th-prix" rowspan="2">Prix</th>
                        </tr>
                        <tr>
                            <th class="table-tv-mois">Mois</th>
                            <th class="table-tv-nbu">Nb</th>
                            <th class="table-tv-cu">Coût</th>
                            <th class="table-tv-nbc">Nb</th>
                            <th class="table-tv-cc">Coût</th>
                            <th class="table-tv-nbu">Nb</th>
                            <th class="table-tv-cu">Coût</th>
                            <th class="table-tv-nbc">Nb</th>
                            <th class="table-tv-cc">Coût</th>
                            <th class="table-tv-nbu">Nb</th>
                            <th class="table-tv-cu">Coût</th>
                            <th class="table-tv-nbc">Nb</th>
                            <th class="table-tv-cc">Coût</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="mois : ${nomMois}">
                            <td class="table-tv-mois"><span th:text="${mois}"></span></td>
                            <td class="table-tv-nbu">
                                <form action="#" th:action="@{/mois/nbu/{id}(id=${saison.getTypeVolantName(plastique).getConsoMoisName(mois.toString).id})}" th:method="post">
                                    <input class="table-tv-nbu" type="submit" th:value="${saison.getTypeVolantName(plastique).getConsoMoisName(mois.toString).nbTubeUtilise}"/>
                                </form>
                            </td>
                            <td class="table-tv-cu">
                                <span th:text="${saison.getTypeVolantName(plastique).getConsoMoisName(mois.toString).getCoutUtilises}"></span>
                            </td>
                            <td class="table-tv-nbc">
                                <form action="#" th:action="@{/mois/nbc/{id}(id=${saison.getTypeVolantName(plastique).getConsoMoisName(mois.toString).id})}" th:method="post">
                                    <input class="table-tv-nbc" type="submit" th:value="${saison.getTypeVolantName(plastique).getConsoMoisName(mois.toString).nbTubeCommande}"/>
                                </form>
                            </td>
                            <td class="table-tv-cc">
                                <span th:text="${saison.getTypeVolantName(plastique).getConsoMoisName(mois.toString).getCoutCommandes}"></span>
                            </td>
                            <td class="table-tv-prix" th:title="${saison.getTypeVolantName(plastique).getConsoMoisName(mois.toString).idPrixTube.marque}">
                                <form action="#" th:action="@{/mois/prix/{id}(id=${saison.getTypeVolantName(plastique).getConsoMoisName(mois.toString).id})}" th:method="post">
                                    <input class="table-tv-prix" type="submit" th:value="${saison.getTypeVolantName(plastique).getConsoMoisName(mois.toString).idPrixTube.getPrixString}"/>
                                </form>
                            </td>
                            <td class="table-tv-nbu">
                                <form action="#" th:action="@{/mois/nbu/{id}(id=${saison.getTypeVolantName(competition).getConsoMoisName(mois.toString).id})}" th:method="post">
                                    <input class="table-tv-nbu" type="submit" th:value="${saison.getTypeVolantName(competition).getConsoMoisName(mois.toString).nbTubeUtilise}"/>
                                </form>
                            </td>
                            <td class="table-tv-cu">
                                <span th:text="${saison.getTypeVolantName(competition).getConsoMoisName(mois.toString).getCoutUtilises}"></span>
                            </td>
                            <td class="table-tv-nbc">
                                <form action="#" th:action="@{/mois/nbc/{id}(id=${saison.getTypeVolantName(competition).getConsoMoisName(mois.toString).id})}" th:method="post">
                                    <input class="table-tv-nbc" type="submit" th:value="${saison.getTypeVolantName(competition).getConsoMoisName(mois.toString).nbTubeCommande}"/>
                                </form>
                            </td>
                            <td class="table-tv-cc">
                                <span th:text="${saison.getTypeVolantName(competition).getConsoMoisName(mois.toString).getCoutCommandes}"></span>
                            </td>
                            <td class="table-tv-prix" th:title="${saison.getTypeVolantName(competition).getConsoMoisName(mois.toString).idPrixTube.marque}">
                                <form action="#" th:action="@{/mois/prix/{id}(id=${saison.getTypeVolantName(competition).getConsoMoisName(mois.toString).id})}" th:method="post">
                                    <input class="table-tv-prix" type="submit" th:value="${saison.getTypeVolantName(competition).getConsoMoisName(mois.toString).idPrixTube.getPrixString}"/>
                                </form>
                            </td>
                            <td class="table-tv-nbu">
                                <form action="#" th:action="@{/mois/nbu/{id}(id=${saison.getTypeVolantName(entrainement).getConsoMoisName(mois.toString).id})}" th:method="post">
                                    <input class="table-tv-nbu" type="submit" th:value="${saison.getTypeVolantName(entrainement).getConsoMoisName(mois.toString).nbTubeUtilise}"/>
                                </form>
                            </td>
                            <td class="table-tv-cu">
                                <span th:text="${saison.getTypeVolantName(entrainement).getConsoMoisName(mois.toString).getCoutUtilises}"></span>
                            </td>
                            <td class="table-tv-nbc">
                                <form action="#" th:action="@{/mois/nbc/{id}(id=${saison.getTypeVolantName(entrainement).getConsoMoisName(mois.toString).id})}" th:method="post">
                                    <input class="table-tv-nbc" type="submit" th:value="${saison.getTypeVolantName(entrainement).getConsoMoisName(mois.toString).nbTubeCommande}"/>
                                </form>
                            </td>
                            <td class="table-tv-cc">
                                <span th:text="${saison.getTypeVolantName(entrainement).getConsoMoisName(mois.toString).getCoutCommandes}"></span>
                            </td>
                            <td class="table-tv-prix" th:title="${saison.getTypeVolantName(entrainement).getConsoMoisName(mois.toString).idPrixTube.marque}">
                                <form action="#" th:action="@{/mois/prix/{id}(id=${saison.getTypeVolantName(entrainement).getConsoMoisName(mois.toString).id})}" th:method="post">
                                    <input class="table-tv-prix" type="submit" th:value="${saison.getTypeVolantName(entrainement).getConsoMoisName(mois.toString).idPrixTube.getPrixString}"/>
                                </form>
                            </td>
                        </tr>
                        
                        <tr class="table-tv-empty"></tr>
                        
                        <tr>
                            <td class="table-tv-total"><span>Total</span></td>
                            <td class="table-tv-total-nbu">
                                <span th:text="${saison.getTypeVolantName(plastique).getTotalNbTubesUtilises}"></span>
                            </td>
                            <td class="table-tv-total-cu">
                                <span th:text="${saison.getTypeVolantName(plastique).getTotalCoutUtilises}"></span>
                            </td>
                            <td class="table-tv-total-nbc">
                                <span th:text="${saison.getTypeVolantName(plastique).getTotalNbTubesCommandes}"></span>
                            </td>
                            <td class="table-tv-total-cc">
                                <span th:text="${saison.getTypeVolantName(plastique).getTotalCoutCommandes}"></span>
                            </td>
                            <td class="table-tv-total-prix"></td>
                            <td class="table-tv-total-nbu">
                                <span th:text="${saison.getTypeVolantName(competition).getTotalNbTubesUtilises}"></span>
                            </td>
                            <td class="table-tv-total-cu">
                                <span th:text="${saison.getTypeVolantName(competition).getTotalCoutUtilises}"></span>
                            </td>
                            <td class="table-tv-total-nbc">
                                <span th:text="${saison.getTypeVolantName(competition).getTotalNbTubesCommandes}"></span>
                            </td>
                            <td class="table-tv-total-cc">
                                <span th:text="${saison.getTypeVolantName(competition).getTotalCoutCommandes}"></span>
                            </td>
                            <td class="table-tv-total-prix"></td>
                            <td class="table-tv-total-nbu">
                                <span th:text="${saison.getTypeVolantName(entrainement).getTotalNbTubesUtilises}"></span>
                            </td>
                            <td class="table-tv-total-cu">
                                <span th:text="${saison.getTypeVolantName(entrainement).getTotalCoutUtilises}"></span>
                            </td>
                            <td class="table-tv-total-nbc">
                                <span th:text="${saison.getTypeVolantName(entrainement).getTotalNbTubesCommandes}"></span>
                            </td>
                            <td class="table-tv-total-cc">
                                <span th:text="${saison.getTypeVolantName(entrainement).getTotalCoutCommandes}"></span>
                            </td>
                            <td class="table-tv-total-prix"></td>
                        </tr>
                            
                    </tbody>
                    
                </table>
                
            </div>
            
            
        </div>
      
        <div th:replace="fragments/layout-footer :: footer"/>
    </body>
    
</html>
