<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
    </head>
    

    <body>
        <div th:replace="fragments/layout-header :: header"/>
      
        <div class="main-content">
            <div th:if="${!reponses.empty}">
                <table class="table-reponse">
                    <tbody>
                        <tr th:each="rep : ${reponses}">
                            <td th:class="${'td-rep-'+rep.key}"><span th:text="${rep.value}">rep</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            
            <table class="table-saison">
                
                <tr>
                    <td class="table-saison">
                        
                        <div class="std-table">

                            <table class="std-table-index">

                                <thead th:replace="fragments/index/table-conso-header :: head" />
                                <tbody th:replace="fragments/index/table-conso-body :: body" />

                            </table>

                        </div>
                    </td>
                    <td class="table-saison-resume">
                        
                        <div class="std-table">

                            <table class="std-table-index">
                                
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            <span th:text="#{texte.page.index.resume.label}"></span>
                                        </th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <!-- Budget prévisionnel -->
                                    <tr>
                                        <td class="table-label-resume">
                                            <span th:text="#{texte.page.index.resume.budget}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${saison.getBudgetString} + #{texte.global.devise}"></span>
                                        </td>
                                    </tr>
                                    <!-- Total commandes club -->
                                    <tr>
                                        <td class="table-label-resume">
                                            <span th:text="#{texte.page.index.resume.commandeClub}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${saison.getStringCoutTotalCommandesClub} + #{texte.global.devise}"></span>
                                        </td>
                                    </tr>
                                    <!-- Total utilises -->
                                    <tr>
                                        <td class="table-label-resume">
                                            <span th:text="#{texte.page.index.resume.utilise}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${saison.getStringCoutTotalUtilises} + #{texte.global.devise}"></span>
                                        </td>
                                    </tr>
                                    <!-- Total commandes membres -->
                                    <tr>
                                        <td class="table-label-resume">
                                            <span th:text="#{texte.page.index.resume.commandeMembre}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${saison.getStringCoutCommandesMembres} + #{texte.global.devise}"></span>
                                        </td>
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>

                        </div>
                    </td>
                </tr>
            </table>
            
        </div>
      
        <div th:replace="fragments/layout-footer :: footer"/>
    </body>
    
</html>
