<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-table-saison.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
    </head>
    

    <body>
        <div th:replace="fragments/layout-header :: header"/>
      
        <div class="main-content">
            <!-- réponse du service suite à une action -->
            <div th:replace="fragments/layout-reponses :: reponse"/>
            <br/>
            
            <!-- pas de saison en cours -->
            <div th:if="${saison.toString.isEmpty}">
                <div th:text="#{texte.page.index.noSaison.text1}"/><br/>
                <div th:text="#{texte.page.index.noSaison.text2}"/><br/>
            </div>
            
            <!-- tableau de consomation de la saison -->
            <div th:replace="fragments/table-conso-saison :: table-conso"/>
            
        </div>
      
        <div th:replace="fragments/layout-footer :: footer"/>
    </body>
    
</html>
