<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
 
<head>
	<title th:text="#{texte.page.login.titre}" ></title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-login.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="form-login">
    <div class="container">
	<br/><br/>
            <form th:action="@{/login}" method="POST" class="form-login-signin">
                <h3 th:text="${pageName}"/><br/>
                        
                <div align="center" th:if="${param.error}">
                    <p class="form-login-p">
                        <span th:text="#{texte.page.index.formError}"></span>
                    </p>
                </div>
		
                <input type="text" id="username" name="username"  th:placeholder="#{texte.page.login.username}" class="form-login-control"/>
                <br/> 
                <input type="password" id="password" name="password" th:placeholder="#{texte.page.login.password}" class="form-login-control"/>
                <br/>
                <button class="form-login-btn" name="Submit" value="login" type="Submit" th:text="#{texte.page.login.submit}"/>
                <br/>
                <br/>
                <a th:href="${index.href}" th:text="#{texte.page.login.index}"></a>
            </form>
	</div>
</body>
    
    
</html>
