<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet"/>
        <script type="text/javascript" th:src="@{/js/membre-popup.js}" charset="utf-8" defer></script>
    </head>
    

    <body>
        <!-- header section -->
        <div th:replace="fragments/layout-header :: header"/>
      
        <!-- content section -->
        <div class="main-content">
            
            <div th:if="${!reponses.empty}">
                <br/>
                <table class="table-reponse">
                    <tbody>
                        <tr th:each="rep : ${reponses}">
                            <td th:class="${'td-rep-'+rep.key}"><span th:text="${rep.value}">rep</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            
            <div class="std-table">
                <table>
                    <thead>
                        <tr>
                            <th class="table-label" colspan="3">MEMBRES</th>
                        </tr>
                        <tr>
                            <th>Prenom</th>
                            <th>Nom</th>
                            <th class="table-action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${listMembres.empty}">
                            <td colspan="3">Aucun Membre créé</td>
                        </tr>
                        <tr th:each="membre : ${listMembres}">
                            <td><span th:text="${membre.prenom}">Prenom</span></td>
                            <td><span th:text="${membre.nom}">Nom</span></td>
                            <td class="table-action">
                                <table class="action-input">
                                    <tr>
                                        <td class="action-input">
                                            <form action="#" th:action="@{/admin/membre/{id}(id=${membre.id})}" th:method="post">
                                                <input type="hidden" name="_method" value="delete"/>
                                                <input id="action-input" type="submit" value="Suppr"/>
                                            </form>
                                        </td><td class="action-input">|</td>
                                        <td class="action-input">
                                            <form action="#" th:action="@{/admin/membre/{id}(id=${membre.id})}" th:method="post">
                                                <input id="action-input" type="submit" value="Edit"/>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
        <!-- pop-up section -->
        <div id="bg-popup" class="bg-popup-membre">
            <div th:replace="fragments/membre/layout-popup-new :: membre"/>
        </div>
      
        <div th:replace="fragments/layout-footer :: footer"/>
    </body>
    
</html>
