<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-prixtube.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-popup.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
        <script type="text/javascript" th:src="@{/js/prixtube-popup.js}" charset="utf-8" defer></script>
    </head>
    
    
    <body>
        <!-- header section -->
        <div th:replace="fragments/layout-header :: header"></div>
      
        <!-- content section -->
        <div class="main-content">
            <!-- réponse du service suite à une action -->
            <div th:replace="fragments/layout-reponses :: reponse"/>
            <br/>
            
            <div class="std-table">
                <table class="table-prixtube">
                    <thead>
                        <tr>
                            <th class="table-label" colspan="6" th:text="#{texte.page.prixtube.table.label}"/>
                        </tr>
                        <tr>
                            <th th:text="#{texte.page.prixtube.table.typetube}" class="table-pt-typetube"/>
                            <th th:text="#{texte.page.prixtube.table.marque}" class="table-pt-marque"/>
                            <th th:text="#{texte.page.prixtube.table.prixAchat}" class="table-pt-prixAchat"/>
                            <th th:text="#{texte.page.prixtube.table.prixMembre}" class="table-pt-prixMembre"/>
                            <th th:text="#{texte.page.prixtube.table.actif}" class="table-pt-actif"/>
                            <th class="table-action" th:text="#{texte.global.page.action}"/>
                        </tr>
                    </thead>
                    <tbody class="table-prixtube">
                        <tr th:if="${listPrixTubes.empty}">
                            <td colspan="6" th:text="#{texte.page.prixtube.table.noPrixtube}" class="table-pt-noPrixtube"/>
                        </tr>
                        <tr th:each="prixTube : ${listPrixTubes}" th:if="${!prixTube.defaut}">
                            <td th:id="${prixTube.getIdH}" th:text="${prixTube.idTypeTube}" class="table-pt-typetube"/>
                            <td th:id="${prixTube.getIdH}" th:text="${prixTube.marque}" class="table-pt-marque"/>
                            <td th:id="${prixTube.getIdH}" 
                                th:text="${prixTube.getPrixString} + #{texte.global.devise}" 
                                class="table-pt-prixAchat"/>
                            <td th:id="${prixTube.getIdH}" 
                                th:text="${prixTube.prixMembreString} + #{texte.global.devise}" 
                                class="table-pt-prixMembre"/>
                            <td th:id="${prixTube.getIdH}" th:text="${prixTube.getActif}" class="table-pt-actif"/>
                            <td th:id="${prixTube.getIdH}" class="table-action">
                                <table class="action-input">
                                <tbody class="action-input">
                                    <tr>
                                        <td th:id="${prixTube.getIdH}" class="action-input">
                                            <form action="#" th:action="@{/admin/prixtube/{id}(id=${prixTube.id})}" th:method="post">
                                                <input type="hidden" name="_method" value="delete"/>
                                                <input id="action-input" type="submit" value="Suppr"/>
                                            </form>
                                        </td><td th:id="${prixTube.getIdH}" class="action-input">|</td>
                                        <td th:id="${prixTube.getIdH}" class="action-input">
                                            <form action="#" th:action="@{/admin/prixtube/{id}(id=${prixTube.id})}" th:method="post">
                                                <input id="action-input" type="submit" value="Edit"/>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/> 
            <br/>
            
        </div>
      
        <!-- pop-up section -->
        <div id="bg-popup" class="bg-popup-prixtube">
            <div th:replace="fragments/PrixTube/layout-popup-new :: prixtube"/>
        </div>
       
        <!-- footer section -->
        <div th:replace="fragments/layout-footer :: footer"></div>
                
    </body>
    
</html>
