<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-popup.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
        <script type="text/javascript" th:src="@{/js/typetube-popup.js}" charset="utf-8" defer></script>
    </head>
    

    <body>
        <!-- header section -->
        <div th:replace="fragments/layout-header :: header"></div>
      
        <!-- content section -->
        <div class="main-content">
            <!-- réponse du service suite à une action -->
            <div th:replace="fragments/layout-reponses :: reponse"/>
            <br/>
            <br/><br/>
            
            <div th:replace="fragments/superAdmin/table-data :: data"/>
            <br/>
            <br/>
                        
            <div th:replace="fragments/superAdmin/table-typetubes :: type-tube"/>           
            <br/>
            <br/>
            
        </div>

        <!-- pop-up section -->
        <div id="bg-popup" class="bg-popup-typetube">
            <div th:replace="fragments/TypeTube/layout-popup-new :: typetube"/>
        </div>
        
        <!-- footer section -->
        <div th:replace="fragments/layout-footer :: footer"></div>
                
    </body>
    
</html>
