<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet">
        <script type="text/javascript" th:src="@{/js/new-user-popup.js}" charset="utf-8" defer></script>
        <script type="text/javascript" th:src="@{/js/typetube-popup.js}" charset="utf-8" defer></script>
        <script type="text/javascript" th:src="@{/js/typevolant-popup.js}" charset="utf-8" defer></script>
        <script type="text/javascript" th:src="@{/js/consomois-popup.js}" charset="utf-8" defer></script>
    </head>
    

    <body>
        <!-- header section -->
        <div th:replace="fragments/layout-header :: header"></div>
      
        <!-- content section -->
        <div class="main-content">
            <div th:if="${!reponses.empty}">
                <br/>
                <table class="table-reponse">
                    <tbody>
                        <tr th:each="rep : ${reponses}">
                            <td th:class="${'td-rep-'+rep.key}"><span th:text="${rep.value}">rep</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <div th:utext="${message}"> !</div><br/><br/>
            
            <div class="table-su-1">
                <table>
                    <tr>
                        <td>
                            <div class="std-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="table-label" colspan="9">MAIN DATA</td>
                                        </tr>
                                        <tr>
                                            <th>ID</th>
                                            <th title="Saison en cours">Saison</th>
                                            <th>ID Stock Compet</th>
                                            <th>Budget par défaut</th>
                                            <th title="ID du Type de tube Plastique">ID Plastique</th>
                                            <th title="ID du Type de tube Entrainement">ID Entrainement</th>
                                            <th title="ID du Type de tube Compétition">ID  Compétition</th>
                                            <th>Actif ?</th>
                                            <th class="table-action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${mainData.empty}">
                                            <td colspan="9">Aucune data créée</td>
                                        </tr>
                                        <tr th:each="data : ${mainData}">
                                            <td><span th:text="${data.id}">ID</span></td>
                                            <td><span th:text="${data.idSaison.toString()}" th:title="${'id='+data.idSaison.id}">id_saison</span></td>
                                            <td><span th:text="${data.idStockCompet.id}">id_stock_compet</span></td>
                                            <td><span th:text="${data.budgetDefault}">budget</span></td>
                                            <td><span th:text="${data.idTTPlastique}" th:title="${'id='+data.idTTPlastique.id}">idTTPlastique</span></td>
                                            <td><span th:text="${data.idTTEntrainement}" th:title="${'id='+data.idTTEntrainement.id}">idTTEntrainement</span></td>
                                            <td><span th:text="${data.idTTCompetition}" th:title="${'id='+data.idTTCompetition.id}">idTTCompetition</span></td>
                                            <td><span th:text="${data.actif}">actif</span></td>
                                            <td class="table-action">
                                                <table class="action-input">
                                                    <tr>
                                                        <td class="action-input">
                                                            <form action="#" th:action="@{/data/{id}(id=${data.id})}" th:method="post">
                                                                <input type="hidden" name="_method" value="delete"/>
                                                                <input id="action-input" type="submit" value="Suppr"/>
                                                            </form>
                                                        </td><td class="action-input">|</td>
                                                        <td class="action-input">
                                                            <form action="#" th:action="@{/data/{id}(id=${data.id})}" th:method="post">
                                                                <input id="action-input" type="submit" value="Edit"/>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </td>
                        <td></td>
                        <td>
                            
                            <div class="std-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="table-label" colspan="4">STOCK COMPETITION</td>
                                        </tr>
                                        <tr>
                                            <th>ID</th>
                                            <th>horodatage</th>
                                            <th>stock</th>
                                            <th class="table-action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${stockList.empty}">
                                            <td colspan="4">Aucun stock créé</td>
                                        </tr>
                                        <tr th:each="stock : ${stockList}">
                                            <td><span th:text="${stock.id}">ID</span></td>
                                            <td><span th:text="${stock.horodatage}">horodatage</span></td>
                                            <td><span th:text="${stock.stock}">Stock</span></td>
                                            <td class="table-action">
                                                <table class="action-input">
                                                    <tr>
                                                        <td class="action-input">
                                                            <form action="#" th:action="@{/stock/{id}(id=${stock.id})}" th:method="post">
                                                                <input type="hidden" name="_method" value="delete"/>
                                                                <input id="action-input" type="submit" value="Suppr"/>
                                                            </form>
                                                        </td><td class="action-input">|</td>
                                                        <td class="action-input">
                                                            <form action="#" th:action="@{/stock/{id}(id=${stock.id})}" th:method="post">
                                                                <input id="action-input" type="submit" value="Edit"/>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            
                        </td>
                    </tr>
                </table>                
            </div>
            
            
            <br/>
            <br/>
                        
            <div class="table-su-1">
                <table>
                    <tr>
                        <td>
                            
                            <div class="std-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="table-label" colspan="5">UTILISATEURS</td>
                                        </tr>
                                        <tr>
                                            <th>ID</th>
                                            <th>Identifiant</th>
                                            <th>Rôle</th>
                                            <th>Actif ?</th>
                                            <th class="table-action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${userList.empty}">
                                            <td colspan="5">Aucun compte utilisateur créée</td>
                                        </tr>
                                        <tr th:each="user : ${userList}">
                                            <td><span th:text="${user.userId}">ID</span></td>
                                            <td><span th:text="${user.userName}">Identifiant</span></td>
                                            <td><span th:text="${userRoleList.get(user.userId)}">Rôle</span></td>
                                            <td><span th:text="${user.enabled}">actif</span></td>
                                            <td class="table-action">
                                                <table class="action-input">
                                                    <tr>
                                                        <td class="action-input">
                                                            <form action="#" th:action="@{/user/{id}(id=${user.userId})}" th:method="post">
                                                                <input type="hidden" name="_method" value="delete"/>
                                                                <input id="action-input" type="submit" value="Suppr"/>
                                                            </form>
                                                        </td><td class="action-input">|</td>
                                                        <td class="action-input">
                                                            <form action="#" th:action="@{/user/{id}(id=${user.userId})}" th:method="post">
                                                                <input id="action-input" type="submit" value="Edit"/>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
            
                        </td>
                        <td></td>
                        <td>
                            
                            <div class="std-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="table-label" colspan="5">TYPES TUBE</td>
                                        </tr>
                                        <tr>
                                            <th>ID</th>
                                            <th>Horodatage</th>
                                            <th>Nom</th>
                                            <th>Commande</th>
                                            <th class="table-action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${typeTubeList.empty}">
                                            <td colspan="5">Aucun type de tube créé</td>
                                        </tr>
                                        <tr th:each="typeTube : ${typeTubeList}">
                                            <td><span th:text="${typeTube.id}">ID</span></td>
                                            <td><span th:text="${typeTube.horodatage}">Horodatage</span></td>
                                            <td><span th:text="${typeTube.nom}">nom</span></td>
                                            <td><span th:text="${typeTube.commande}">commande</span></td>
                                            <td class="table-action">
                                                <table class="action-input">
                                                    <tr>
                                                        <td class="action-input">
                                                            <form action="#" th:action="@{/typetube/{id}(id=${typeTube.id})}" th:method="post">
                                                                <input type="hidden" name="_method" value="delete"/>
                                                                <input id="action-input" type="submit" value="Suppr"/>
                                                            </form>
                                                        </td><td class="action-input">|</td>
                                                        <td class="action-input">
                                                            <form action="#" th:action="@{/typetube/{id}(id=${typeTube.id})}" th:method="post">
                                                                <input id="action-input" type="submit" value="Edit"/>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </td>
                    </tr>
                </table>                
            </div> 
                        
            <br/>
            <br/>
            
        </div>

        <!-- pop-up section -->
        <div id="bg-popup" class="bg-popup-user">
            <div th:replace="fragments/user/layout-popup-new :: user"/>
        </div>
        <div id="bg-popup" class="bg-popup-typetube">
            <div th:replace="fragments/TypeTube/layout-popup-new :: typetube"/>
        </div>
        <div id="bg-popup" class="bg-popup-typevolant">
            <div th:replace="fragments/TypeVolant/layout-popup-new :: typevolant"/>
        </div>
        <div id="bg-popup" class="bg-popup-consomois">
            <div th:replace="fragments/ConsoMois/layout-popup-new :: consomois"/>
        </div>
        
        <!-- footer section -->
        <div th:replace="fragments/layout-footer :: footer"></div>
                
    </body>
    
</html>
