<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    
    <head th:fragment="headerFragment">
        <title th:text="${pageTitle}">Template Title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-users.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style-popup.css}"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap" rel="stylesheet"/>
        <script type="text/javascript" th:src="@{/js/new-user-popup.js}" charset="utf-8" defer></script>
    </head>
    

    <body>
        <!-- header section -->
        <div th:replace="fragments/layout-header :: header"/>
    
        <!-- content section -->
        <div class="main-content">
            <div th:if="${!reponses.empty}">
                <table class="table-reponse">
                    <tbody>
                        <tr th:each="rep : ${reponses}">
                            <td th:class="${'td-rep-'+rep.key}"><span th:text="${rep.value}"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            
            <div th:replace="fragments/superAdmin/table-users :: user"/>
            </br>
            </br>
            
        </div>
      
        
        <!-- pop-up section -->
        <div id="bg-popup" class="bg-popup-user">
            <div th:replace="fragments/user/layout-popup-new :: user"/>
        </div>
        
        <div th:replace="fragments/layout-footer :: footer"/>
    </body>
    
</html>

