<!DOCTYPE html>
<html>

        
<!-- ------------------------------------------ POPUP EDITION STOCK-COMPETITION -------------------------------------------------- -->
        
        <div th:fragment="stock">
            <div id="popup-content" class="popup-content-edit-stock">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3 th:text="#{texte.pop.edit.stock.titre}"></h3>
                        </td>
                        <td class="popup-header-close">
                            <a href="/competition" >
                                <img class="button-close" src="/images/popup/button-close.png">
                            </a>
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/stock/{id}(id=*{id})}" th:object="${editStock}" method="post">
                        
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="stock" th:text="#{texte.pop.edit.stock.stock}"></label>
                            </td>
                            <td class="popup-form-input">
                                <span id="stock" th:text="*{stock}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="ajout" th:text="#{texte.pop.edit.stock.ajout}"></label>
                            </td>
                            <td class="popup-form-input">
                                <input id="ajout" type="number" th:value="*{ajout}" th:field="*{ajout}" min="0" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input type="hidden" name="_method" value="put"/>
                                <input type="hidden" th:value="*{id}" th:field="*{id}" />
                                <input type="hidden" th:value="*{stock}" th:field="*{stock}" />
                                <input class="popup-form-submit-button" type="submit" th:value="#{texte.pop.edit.global.submit}"/>                             
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>        
        

</html>
