<!DOCTYPE html>
<html>
    <body>
        
        
        <div th:fragment="resume" class="std-table">

            <table class="std-table-index">

                <thead>
                    <tr>
                        <th colspan="2">
                            <span th:text="#{texte.page.index.resume.label}"></span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Budget prévisionnel -->
                    <tr>
                        <td class="table-label-resume">
                            <span th:text="#{texte.page.index.resume.budget}"></span>
                        </td>
                        <td>
                            <span th:text="${saison.getBudgetString} + #{texte.global.devise}"></span>
                        </td>
                    </tr>
                    <!-- Total commandes club -->
                    <tr>
                        <td class="table-label-resume">
                            <span th:text="#{texte.page.index.resume.commandeClub}"></span>
                        </td>
                        <td>
                            <span th:text="${saison.getStringCoutTotalCommandesClub} + #{texte.global.devise}"></span>
                        </td>
                    </tr>
                    <!-- Total utilises -->
                    <tr>
                        <td class="table-label-resume">
                            <span th:text="#{texte.page.index.resume.utilise}"></span>
                        </td>
                        <td>
                            <span th:text="${saison.getStringCoutTotalUtilises} + #{texte.global.devise}"></span>
                        </td>
                    </tr>
                    <!-- Total commandes membres -->
                    <tr>
                        <td class="table-label-resume">
                            <span th:text="#{texte.page.index.resume.commandeMembre}"></span>
                        </td>
                        <td>
                            <span th:text="${saison.getStringMontantCommandesMembres} + #{texte.global.devise}"></span>
                        </td>
                    </tr>
                    <!-- Budget restant -->
                    <tr>
                        <td class="table-label-resume">
                            <span th:text="#{texte.page.index.resume.total}"></span>
                        </td>
                        <td>
                            <span th:text="${saison.getStringRestantBudget} + #{texte.global.devise}"></span>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        
    </body>
</html>
