<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        
<!-- ------------------------------------------ POPUP NOUVELLE COMMANDE -------------------------------------------------- -->
        
        <div th:fragment="commande">
            <div id="popup-content" class="popup-content-commande">
                <table class="popup-header">
                    <tr>
                        <td class="popup-header-titre">
                            <h3>Nouvelle Commande</h3>
                        </td>
                        <td class="popup-header-close">
                            <img id="close-commande" class="button-close" src="/images/popup/button-close.png">
                        </td>
                    </tr>
                </table>
                
                <form th:action="@{/newCommande}" th:object="${newCommande}" method="post">
                        
                    <table class="popup-form">
                        <tr>
                            <td class="popup-form-label">
                                <label for="membre">Membre ayant commandé des tubes :</label>
                            </td>
                            <td class="popup-form-input">
                                <select id="membre" th:field="*{idMembre}">
                                <option th:each="m : ${Membres}" th:value="${m.id}" th:text="${m.toString()}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="nbTubeCommande">Nombre de tubes commandés :</label>
                            </td>
                            <td class="popup-form-input">
                                <input id="nbTubeCommande" type="number" min="1" th:value="*{nbTubeCommande}" th:field="*{nbTubeCommande}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="popup-form-label">
                                <label for="regler">La commande est-elle déjà réglée ?</label>
                            </td>
                            <td class="popup-form-input">
                                <input id="regler" name="regler" type="checkbox" th:checked="*{regler}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="popup-form-submit">
                                <input class="popup-form-submit-button" type="submit" value="Créer la commande"/>                            
                            </td>
                        </tr>
                        
                    </table>
                    
                </form>
                
            </div>
        </div>        
        
    </body>
</html>
