<!DOCTYPE html>
<html>
    <body>
        
        
<!----------------------- liste des commandes ----------------------->

<td class="table-commande" th:fragment="list-commandes">

    <div class="std-table">
        <table>
            <thead>
                <tr>
                    <th class="table-label" colspan="7" th:text="#{texte.page.commandesMembres.table.titre}"/>
                </tr>
                <tr>
                    <th th:text="#{texte.page.commandesMembres.table.date}" class="table-commande-date"/>
                    <th th:text="#{texte.page.commandesMembres.table.membre}" class="table-commande-membre"/>
                    <th th:title="#{texte.page.commandesMembres.title.prixtube}"
                        th:text="#{texte.page.commandesMembres.table.prixtube}" class="table-commande-prixtube"/>
                    <th class="table-commande-nbTubes">
                        <img class="table-commande-nbTubes" src="/images/TubesCommandes.png"/>
                    </th>
                    <th th:title="#{texte.page.commandesMembres.title.prix}" 
                        th:text="#{texte.page.commandesMembres.table.prix}" class="table-commande-prix"/>
                    <th th:text="#{texte.page.commandesMembres.table.regler}" class="table-commande-regler"/>
                    <th class="table-action" th:text="#{texte.global.page.action}"/>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${saison.commandes.empty}">
                    <td colspan="7" th:text="#{texte.page.commandesMembres.table.noCommande}"/>
                </tr>
                <tr th:each="commande : ${saison.commandes}">
                    <td th:id="${commande.getIdH}" th:text="${commande.getDateCommande}" class="table-commande-date"/>
                    <td th:id="${commande.getIdH}" th:text="${commande.idMembre}" class="table-commande-membre"/>
                    <td th:id="${commande.getIdH}" title="prix club | prix membre"
                        th:text="${commande.idPrixTube.getPrixComment}" class="table-commande-prixtube"/>
                    <td th:id="${commande.getIdH}" th:text="${commande.nbTubeCommande}" class="table-commande-nbTubes"/>
                    <td th:id="${commande.getIdH}" th:title="${commande.nbTubeCommande + ' x ' + commande.idPrixTube.getPrixMembreString}"
                        th:text="${commande.getStringPrixCommandeMembre} + #{texte.global.devise}" class="table-commande-prix"/>
                    <td th:id="${commande.getIdH}" th:text="${commande.getRegler}" class="table-commande-regler"/>
                    <td th:id="${commande.getIdH}" class="table-action">
                        <table class="action-input">
                        <tbody class="action-input">
                            <tr>
                                <td th:id="${commande.getIdH}" class="action-input">
                                    <form action="#" th:action="@{/commande/{id}(id=${commande.id})}" th:method="post">
                                        <input type="hidden" name="_method" value="delete"/>
                                        <input id="action-input" type="submit" value="Suppr"/>
                                    </form>
                                </td><td th:id="${commande.getIdH}" class="action-input">|</td>
                                <td th:id="${commande.getIdH}" class="action-input">
                                    <form action="#" th:action="@{/commande/{id}(id=${commande.id})}" th:method="post">
                                        <input id="action-input" type="submit" value="Edit"/>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        
</td>
     
<!-- ----------------------------------------------------------------------------------- --> 
    
    </body>
</html>
